
        <div id="getting-started">
          <h1>calendar_helper demos</h1>
          <h2>With links in calendars day cell, you can put a lightbox with the event details...</h2>
          <p>We need to modify the original plugin for one project, creating a fork and including a support for HTML in cell_text var. For that, we create a <tt>:label</tt> option in the calendar method, and populate a secondary array with dates and HTML for labels. In the real application, these datas comes from an storage database engine.</p>
          
          <ol>
          
            <li>
              <h2><%= link_to('calendar_helper_demo','/calendar_helper_demo') %> <tt>With text and links</tt></h2>
              <p>We need to modify the original plugin for one project, creating a fork and including a support for HTML in cell_text var. For that, we create a <tt>:label</tt> option in the calendar method, and populate a secondary array with dates and HTML for labels. In the real application, these datas comes from an storage database engine.</p>
              <p>URL: <%= link_to('http://demos.cidadelas.com.br/calendar_helper_demo','/calendar_helper_demo') %>
              <p>Please lets us know what you think about our projects and forks.</p>
            </li>

            <li>
              <h2><%= link_to('calendar_helper_demo','/calendar_helper_demo') %> <tt>With text and links</tt></h2>
              <p>We need to modify the original plugin for one project, creating a fork and including a support for HTML in cell_text var. For that, we create a <tt>:label</tt> option in the calendar method, and populate a secondary array with dates and HTML for labels. In the real application, these datas comes from an storage database engine.</p>
              <p>URL: <%= link_to('http://demos.cidadelas.com.br/calendar_helper_demo','/calendar_helper_demo') %>
              <p>Please lets us know what you think about our projects and forks.</p>
            </li>

          </ol>
        </div>

